svg text {
  fill: #222222 !important;
}

body {
  margin-left: 5%;
  margin-right: 5%;
  margin-bottom: 2%;
  margin-top: 2%;
}

.clouds-before {
  border-right: 1px solid black;
  
}

.clouds-after {
  margin-left: 20px;
}

.cartogrid {
  display: block;
  margin: auto;
}

.chart-settings {
  float: right;
}