/* Roboto fonts from Google, and Glyphicons from Bootstrap. */
@import url('https://fonts.googleapis.com/css?family=Roboto');
@import url('https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css');

svg text {
  fill: #222222 !important;
}

/*
body {
  margin-left: 5%;
  margin-right: 5%;
  margin-bottom: 2%;
  margin-top: 0%;
}*/

hr {
  margin-top: 5px;
  margin-bottom: 5px;
}


.cartogrid {
  display: block;
  margin: auto;
}

/* Data table */
.table-wrapper {
  overflow: auto;
  height: 300px;
}


/* Help Modal */
.modal-backdrop {
  background-color: #00000094;
}

/* Chart Modals */
.chart-modal .modal-dialog {
  width: 60% !important;
  max-width: 60% !important;
}



.modal-container {
  position: relative;
  max-height: 80%;
  overflow: auto;
}
.modal-container .modal, .modal-container .modal-backdrop {
  position: absolute;
}



.modal-container .modal-content {
  max-height: 70vh;
  overflow: auto;
}

.chart-modal svg {
  display: block;
  margin: auto;
}