/* Roboto fonts from Google, and Glyphicons from Bootstrap. */
@import url('https://fonts.googleapis.com/css?family=Roboto');
@import url('https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css');

svg text {
  fill: #222222 !important;
}

/*body {
  margin-left: 5%;
  margin-right: 5%;
  margin-bottom: 2%;
  margin-top: 0%;
}*/

hr {
  margin-top: 5px;
  margin-bottom: 5px;
}


.cartogrid {
  display: block;
  margin: auto;
}

/* Data table */
.table-wrapper {
  overflow: auto;
  height: 300px;
}


/* Help Modal */
.modal-backdrop {
  background-color: #00000094;
}

/* Chart Modals */
.chart-modal .modal-dialog {
  width: 60vw !important;
  max-width: 60vw !important;
}
.chart-modal .modal-content {
  height: auto;
  min-height: 60vh;
}

.chart-modal svg {
  display: block;
  margin: auto;
}